#bali {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 2.5em;
}
.white {
  color: white;
}
.border_white {
  border: 1px solid white;
}
.burger_menu_white {
  filter: invert(100%);
}
.bg {
  background: url("../assets/stephen-leonardi-0GCgvEPe-J8-unsplash.jpg")
    no-repeat center;
  background-size: cover;
}
header {
  height: 100px;
  text-align: center;
  justify-content: center;
}
/* center text vertically  */
