#bali {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 2.5em;
}
.white {
  color: white;
}
.border_white {
  border: 1px solid white;
}
.burger_menu_white {
  filter: invert(100%);
}
body {
  background: url("../assets/aron-visuals-LSFuPFE9vKE-unsplash.jpg") no-repeat
    center;
  background-size: cover;
}

/* center text vertically  */
p {
  color: aliceblue;
}
