*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    margin: auto 0;
    
      background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  
}
/* Flex commun */
.flex{
    display: flex;
  
}

.justify-content {
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-item{
  -ms-flex-item-align: center;
}


/*width & heigth*/

/*montagne*/ 
.mer{
  width: 100%;
 height: 100%;
 
}

/*titre bali nomade*/

.flex-bali{

  font-family: Arial, Helvetica, sans-serif;
  font-size:80px;
  font-style:oblique;
  text-shadow: 0.3em 0.3em 0.08em black;
  color: white;
    position:absolute;
    top: 18%;
    left: 36%;
  transform: translate(-50%-50%);

   }
   /* fin titre bali nomade */


 .pc{
  width: 50px;
  color: white;

 }
/* section text bali +intro et img festival*/
 .intro {font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: whitesmoke;


 }
.text-bali{
  display: flex;
  justify-content:space-evenly ;
  padding-top: 200px;
}
 .festival{
  width: 970px;
  height: 590px;
 
 }

 /* fin section text bali +intro et img festival*/



 /* nav bar et menu */
 nav {
 z-index: 100;
  position: fixed;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background-image: linear-gradient(to right bottom, #11455e, #12597a, #136e97, #1284b5, #109ad4, #119bd6, #129dd9, #139edb, #158ac1, #1477a7, #13648d, #105275);
  box-shadow: inset 0px -1px 0px white;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color:white;
}
.nav-icon pc {
  width: 50px;

}
.hamburger {
  display: none;
}
.navlinks-container a {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: white;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}



/*media query nav bar*/

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }
  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background-image: linear-gradient(to right bottom, #11455e, #12597a, #136e97, #1284b5, #109ad4, #119bd6, #129dd9, #139edb, #158ac1, #1477a7, #13648d, #105275);
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-image: linear-gradient(to right bottom, #11455e, #12597a, #136e97, #1284b5, #109ad4, #119bd6, #129dd9, #139edb, #158ac1, #1477a7, #13648d, #105275);
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }
  .open {
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0
  }

  /*fin hamburger*/

}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}

/* section 1 menu image debut*/
.nomade2022{
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 10px 20px;
  min-width: 230px;
  max-width: 295px;
  min-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: right;
  line-height: 1.4em;
  background-color: #1a1a1a;
  font-size: 14px;
}
.nomade2022 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.nomade2022 img {
  position: absolute;
  right: 0%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.nomade2022 figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.nomade2022 h2,
.nomade2022 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.nomade2022 h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;

}
.nomade2022 p {
  font-size: 1.5em;
}
.nomade2022 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.nomade2022:hover img,
.nomade2022.hover img {
  width: 55%;
  right: -10%;
}
.nomade2022:hover figcaption h2,
.nomade2022.hover figcaption h2,
.nomade2022:hover figcaption p,
.nomade2022.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  
 
}
.nomade2022:hover figcaption h2,
.nomade2022.hover figcaption h2
{
   font-size: 25px;
}
.section1-images{
  display: flex;
  justify-content: space-around;
  padding-top: 65px;
}
/* section 1 menu image fin*/

/* section 2 bali et texte debut*/

.info-climat-flex{
  padding-top: 150px;
  display: flex;
  justify-content:space-evenly;
 
 
}



/* bali-h2*/
.mappbali{
  border-radius:0.5rem ;
  width:1118px;
}

.bali-h2{
  padding-top: 50px;
  display: flex;
  flex-wrap:wrap ;
  font-size: 20px;
  
  

  padding-top: 0;
color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  width: 830px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
   


   
  border-radius: 0.5rem;

  
  border-left: 0 solid #00ff99;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}
h2{
  font-size:xx-large;
  color: white;
}
.bali-h2:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #ff0084;
}

.bali-h2 > :first-child {
  margin-top: 0;
}

.bali-h2> :last-child {
  margin-bottom: 0;
}
h3{
  color: white;
  font-size: x-large;
  padding-top: 10px;
}
/*section 3 nomade-digital*/
.nomade-text{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding-top: 60px;
}
.nomade-digital{
  display: flex;
  justify-content:space-evenly;
  padding-top: 150px;
  
}
.nomadepc{
  width: 680px;
  height: 494px;
}
.video-img{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 60px;

}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  padding-top: 30px;

}
/*section 3 nomade-digital fin */

/*section 4 caroussel bali */


.containerbali{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  min-height: 100vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.c-header {
  display: block;
  width: 100%;
}
.u-a5 {
  font-family: Arial;
  font-size: 37px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  color: #fff;
}
.u-b4 {
  font-family: Arial;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.3px;
  font-weight: normal;
  color: #fff;
}
a {
  text-decoration: none;
}
.u-media-wrapper {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 0;
}
.u-media-wrapper.u-media-wrapper--16-9 {
  padding-bottom: 56.25%;
}
.c-gradient-overlay {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
}
.c-mouse-vertical-carousel {
  position: relative;
  overflow: hidden;
}
.c-mouse-vertical-carousel__list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.c-mouse-vertical-carousel__list-item a {
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 54.1666666667%;
}
.c-mouse-vertical-carousel__eyebrow {
  position: relative;
  padding-bottom: 12px;
}
.c-mouse-vertical-carousel__eyebrow span {
  position: absolute;
  left: -30px;
  top: 2px;
}
.c-mouse-vertical-carousel__title {
  max-width: 450px;
}
.c-mouse-vertical-carousel__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  will-change: transform;
}