boby{
    margin: 0;
}
/* Flex banniere */
.a-flex{
    display: flex;
    justify-content: center;
}
/*width & heigth*/
.banniere{
    width:1500px;
    height: 600px;
    background-image: url(bali\ photo/banniere3-1.png)
  
  


}

