*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

boby{
    margin: auto 0;
}
/* Flex commun */
.flex{
    display: flex;
  
}

.justify-content {
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-item{
  -ms-flex-item-align: center;
}


/*width & heigth*/

  
.moto{
  width: 1280px;
 height: 600px;
 
}

/*titre bali nomade*/

.flex-bali{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size:55px;
  font-style:oblique;
  text-shadow: 0.1em 0.1em 0.10em #323160;
  color: white;
    position:absolute;
    top: 12%;
    left: 36%;
  transform: translate(-50%-50%);

   }
   /* fin titre bali nomade */


 .pc{
  width: 30px;
  color: blue;
 }
 /* nav bar et menu */
 nav {
 
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background:black;
  box-shadow: inset 0px -1px 0px white;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color:white;
}
.nav-icon pc {
  width: 40px;

}
.hamburger {
  display: none;
}
.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: white;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}





@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }
  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: black;
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background:black;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }
  .open {
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0
  }

  

}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}
