boby{
    margin: 0;
}
/* Flex commun */
.flex{
    display: flex;
  
}

.justify-content {
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-item{
  -ms-flex-item-align: center;
}


/*width & heigth*/

  
img {width: 1980px;
 height: 1100px;
}
h1{
    position:relative ;
    top: 250px;
z-index: 1;
   
right: 890px;
  
    
}