*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

boby{
    margin: auto 0;
}
/* Flex commun */
.flex{
    display: flex;
  
}

.justify-content {
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-item{
  -ms-flex-item-align: center;
}


/*width & heigth*/

  
.montagne{
  width: 1920px;
 height: 540px;
 
}

/*titre bali nomade*/

.flex-bali{

  font-family: Arial, Helvetica, sans-serif;
  font-size:55px;
  font-style:oblique;
  text-shadow: 0.1em 0.1em 0.10em #323160;
  color: white;
    position:absolute;
    top: 12%;
    left: 36%;
  transform: translate(-50%-50%);

   }
   /* fin titre bali nomade */


 .pc{
  width: 30px;
  color: blue;
 }
 /* nav bar et menu */
 nav {
 
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background:black;
  box-shadow: inset 0px -1px 0px white;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color:white;
}
.nav-icon pc {
  width: 40px;

}
.hamburger {
  display: none;
}
.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background: white;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}



/*media query nav bar*/

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }
  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: black;
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background:black;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
    transform: translate(-100%);
  }
  .open {
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0
  }

  /*fin hamburger*/

}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}

/* section 1 menu image*/
.snip1482 {
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 10px 20px;
  min-width: 230px;
  max-width: 295px;
  min-height: 220px;
  width: 100%;
  color: #ffffff;
  text-align: right;
  line-height: 1.4em;
  background-color: #1a1a1a;
  font-size: 16px;
}
.snip1482 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1482 img {
  position: absolute;
  right: 0%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.snip1482 figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.snip1482 h2,
.snip1482 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.snip1482 h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.snip1482 p {
  font-size: 0.8em;
}
.snip1482 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1482:hover img,
.snip1482.hover img {
  width: 55%;
  right: -10%;
}
.snip1482:hover figcaption h2,
.snip1482.hover figcaption h2,
.snip1482:hover figcaption p,
.snip1482.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.section1{
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}